/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree
 */
 
  @import "bootstrap";

header{
  p{
    margin:0px;
  }
  height:70px;
  line-height:70px;
  background-color:white;
  text-decoration:none;
  border-bottom:1px solid rgba(126,126,126,0.5);
}
.group-index-btn:focus{
	outline:none;
}
a:hover{
  text-decoration:none;
  color:black;
}
.header-box{
  display:flex;
  justify-content:space-between;
}
.header-item{
  padding:20px 15px;
  color:black;
  font-family: "Hannari";
  height:100%;
  &:hover{
    background-color:rgba(255, 102, 102, 0.5);
  }
}
.individual-page{
  position:relative;
  background-image: url("/images/Canva - Girl in Blue Sweatshirt and Pink Skit in Jumpshot Photo.jpg");
  background-size:cover;
  min-height:100vh;
  width:100vw;
  position:fixed;
}
.dropdown-menu{
  text-align:center;
  li{
    &:hover{
    background-color:rgba(255, 102, 102, 0.5);
    }
  }
}
.group-list-option{
  a{color: blue;
    font-weight:bold;
  }
}
.group-list-a{
  a{
    color:black;
  }
}




