.mypage{
  text-align:center;
  background-color:rgba(238, 238, 238, 0.9);
  border-radius:5px;
  p{
    font-weight:bold;
  }
  width:300px;
  margin:0 auto;
  margin-top:50px;
  padding:40px 30px;
}
.user-information{
  text-align:left;
}
.information-child{
  background-color:white;
  border-radius:5px;
  padding:5px;
}
.btn-child{
  margin:10px;
}

.user-destroy-form{
  background-color:rgba(238, 238, 238, 0.9);
  width:300px;
  margin:0 auto;
  padding:30px;
  margin-top:30px;
  text-align:left;
}


