// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-todos{
  background-color:#8ac6d1;
}

.user-workings{
  background-color:#8ac6d1;
}

.user-dones{
  background-color:#8ac6d1;
}

.list{
  height:75%;
}

.list-text{
  background-color:white;
}









