// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mypage{
  .user-edit-btn{
    color:white;
  }
}

.none{
  display:none;
}

.block{
  display:block;
}

.user-destroy-form{
  background-color:gray;
  width:300px;
  padding:30px;
  margin:30px;
}

.bg-img{
  background-image: url("/images/Canva - Person Sketching Dress on Printer Paper With Clip Board.jpg");
  width:100vw;
  height:100vh;
  background-size:cover;
}

.bg-mask{
  height: 100%;
  background: rgba(255,255,255,0.5);
}