// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.list-p{
  font-weight:bold;
  margin:15px 0;
}
.none{
  display:none;
}
.block{
  display:block;
}
.user-lists{
  border-radius:5px;
}
.add-todo{
  cursor:pointer;
}
.login-page{
  text-align:center;
  background-color:rgba(238, 238, 238, 0.9);
  margin:0 auto;
  padding-top:50px;
  padding:50px 50px;
  margin-top:50px;
  border-radius:5px;
}
.field{
  padding:10px;
}
.regisration-page{
  text-align:center;
}
.user-todos{
  background-color:rgba(238, 238, 238, 0.9);
}
.user-workings{
  background-color:rgba(238, 238, 238, 0.9);
}
.user-dones{
  background-color:rgba(238, 238, 238, 0.9);
}
.list{
  height:75%;
}
.list-text{
  background-color:white;
  border-radius:5px;
}
.add-task-form{
  display:flex;
  input{
    margin-right:15px;
  }
}
//login submit page
.devise-page{
  background-color:rgba(126,126,126,0.2);
  height:120vh;
}
.devise-form{
  margin:15px 0;
}
.devise-share{
  color:black;
}

