// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mypage{
  .user-edit-btn{
    color:white;
  }
}

.none{
  display:none;
}

.block{
  display:block;
}

.user-destroy-form{
  background-color:gray;
  width:300px;
  padding:30px;
  margin:30px;
}

.bg-img{
  background-image: url("/images/Todo application.png");
  width:100vw;
  height:100vh;
  background-size:cover;
  position:fixed;
}

.login-page{
  text-align:center;
  background-color:#8ac6d1;
  margin:0 auto;
  padding-top:50px;
  padding-bottom:50px;
  margin-top:100px;
  border-radius:20px;
}

.field{
  padding:10px;
}

.regisration-page{
  text-align:center;
}

.user-todos{
  background-color:#8ac6d1;
}

.user-workings{
  background-color:#8ac6d1;
}

.user-dones{
  background-color:#8ac6d1;
}

.list{
  height:75%;
}

.list-text{
  background-color:white;
}