.user-edit-page{
  text-align:center;
  background-color:rgba(238, 238, 238, 0.9);
  margin:0 auto;
  padding-top:50px;
  padding:50px 50px;
  margin-top:50px;
  border-radius:5px;
  width:330px;
  input{
    margin:10px 0;
  }
  h4{
    margin-bottom:17px;
  }
}
